body {
    background-color: white;
}

/* font-family: "Edu AU VIC WA NT Hand", cursive;
    font-family: "Open Sans", sans-serif */

/* HEADER-MAIN STYLES */

.header-main {
    width: 100%;
    height: 100px;
    background-color: rgb(64, 61, 61);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 2000;
}

.nav-main{
    display: flex;
}

.nav-main nav{
}

.nav-main nav ul{
}

.nav-main nav ul li{
    display: inline;
    float: left;
    margin: 30px;
}

.nav-main nav ul li a{
    font-size: 20px;
    font-weight: bolder;
    color: #e7dfd8;
    text-shadow: 1px 0 0 rgb(171, 171, 171);
}

.nav-main nav ul li a:hover{
    cursor: pointer;
    color: #745a3d;
}

.social-med {
    width: 300px;
    height: 100px;
    display: flex;
    margin-left: 700px;
    align-items: center;
    justify-content: end;
}

.social-med a:hover {
    cursor: pointer;
}


.fb-space {
    background-image: url("../img/fb-icon-dark.png");
    background-size: 5vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    transform: translate(0,0px);
}

.fb-space:hover {
    background-image: url("../img/fb-icon-colored.png");
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}


.ig-space {
    background-image: url("../img/ig-icon-dark.png");
    background-size: 5vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 150px;
    width: 50%;
    height: 90%; 
    transition: 0.5s;
    transform: translate(0,0px);
} 

.ig-space:hover {
    background-image: url("../img/ig-icon-colored.png");
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
/* HEADER-MAIN STYLES END*/

/* ABOUT ME STYLING */

.about-me-section {
    background-color: #e7dfd8;
    width: 100%;
    height: calc(100vh - 200px);
    background-image: url("../img/about-me-bg.png");
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: left bottom;
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.about-me-section p {
   align-self: right;
   font-size: 20px;
   color: #765b3c ;
   line-height: 40px;
   margin-top: 70px;
   text-shadow: 1px 2px 2px white;
   font-weight: bold;
}

.my-girlfriend {
    background-image: url("../img/gf-bg.png");
    background-repeat: no-repeat;
    background-size: 35vh;
    background-position: 90% 65%;
    width: 100%;
    height: 500px;
    background-color: #765b3c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-girlfriend p {
    font-size: 20px;
    line-height: 40px;
    margin-right: 200px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
 }


/* ABOUT ME STYLING ENDING */

.main-intro h1,h2,p {
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.main-intro h1 {
    font-size: 40px;
    font-weight: bold;
}

.main-intro h2 {
    font-size: 40px;
    font-weight: bold;

}

.main-quotes p {
    margin-top: 200px;
    font-size: 20px;
    line-height: 30px;
}

/* CATEGORY SECTION */

.index-category {
    background-color: #765b3c;
}

.index-category-box {
    
}

.index-category h3 {
    font-size: 20px;
    color: white;
}

/* hobbies default styling */

.gaming-section {
    width: 100%;
    height: calc(100vh- 100px);
    margin-top: 100px;
    background-color: #3e3b38;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gaming-section h1 {
    color: #c2ac94;
    text-shadow: 1px 0 0 rgb(171, 171, 171);
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;

}

.game1 {
    width: 300px;
    height: 300px;
    background-size: cover;
    flex-basis: 100%;
}

.games-container {
    display: flex;
    column-gap: 10vh;
}

.games-container figcaption {
    font-weight: bold;
    color: #c2ac94;
    text-shadow: 1px 0 0 rgb(171, 171, 171);
}

.breaker {
    width: 100%;
    height: 100px;
}

/* coding default styling */

.coding-section {
    width: 100%;
    height: 500px;
    background-image: url("../img/coding-1853305_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}

.coding-section h1 {
    margin-top: 30px;
    color: #1d1914;
    text-shadow: 1px 0 0 rgb(171, 171, 171);
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;

}

.code1 {
    width: 300px;
    height: 300px;
    background-size: cover;
    flex-basis: 100%;
}

.codes-container {
    display: flex;
    align-content: flex-start;
    margin-top: -200px;
    margin-left: 30px;
}

.codes-container p {
    margin-top: 100px;
    width: 50%;
    font-weight: bold;
    color: #0d0821;
    text-shadow: 1px 2px 1px rgb(255, 255, 255);
    line-height: 30px;
    font-size: 15px;
}


/* Family styling */

.parents {
    background-color: #e7dfd8;
    height: calc(100vh - 200px);
    margin-top: 100px;
    width: 100%;
    background-image: url("../img/parents-img.png");
    background-size: 45vh;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.parents h1 {
    font-size: 30px;
    font-weight: bold;
}

.parents p {
    flex-basis: 100%;
    margin-left: 500px;
    font-size: 20px;
}

.siblings {
    background-color: #765b3c;
    height: 500px;
    width: 100%;
    background-image: url("../img/sibling-bg.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 45vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.siblings h1 {
    font-size: 30px;
    font-weight: bold;
}

.siblings p {
    flex-basis: 100%;
    margin-left: 500px;
    font-size: 20px;
}

/* movies and pets styling */

.movies-section {
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
    background-color: #3e3b38;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie1 {
    margin-top: 200px;
    width: 450px;
    height: 300px;
    background-size: cover;
    flex-basis: 100%;
}

.movies-container {
    display: flex;
    column-gap: 10vh;
}

.movies-container figcaption {
    font-weight: bold;
    color: black;
}

.pets-section {
    background-color: #e7dfd8;
    height: calc(100vh - 100px);
    background-image: 0;
}



